* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#root {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #999;
}

#root button {
    background-color: #333;
    color: white;
    text-transform: uppercase;
    border-radius: 6px;
    font-weight: 600;
    padding: 15px;
    margin: 6px;
    
    border: 0;
    outline: 0;
    cursor: pointer;
}

#root .result {
    max-width: 100%;
    max-height: calc(100% - 80px);
}

#root canvas {
    display: none;
}
